.main_article {
    background-color: rgb(66, 59, 59);
    color: red;
}
.main_p {
    text-align: center;
}
#h1 {
    text-align: center;
    color: rgb(76, 0, 255);
}
.img {
    text-align: center;
}
#p {
    color: rgb(53, 145, 231);
    text-align: center;
}